<h3>Login</h3>
<form method="POST" action="/auth/login">
	<input type="email" name="email" placeholder="Email address" class="form-control" />
	<input type="password" name="password" placeholder="Password" class="form-control" />
	<input type="submit" value="Log in!" class="btn btn-primary" />
</form>