<h1>Login</h1>

	<form method="POST" action="/auth/login">
		<input type="email" name="email" placeholder="Email address" class="form-control" />
		<input type="password" name="password" placeholder="Password" class="form-control" />
	<span>
		<input type="submit" value="Log in!" id="log-in" class="btn" /></span>
	<span>
		<a href="/auth/login/facebook" class="btn btn-primary"><i class="fa fa-facebook-official fa-lg"></i> Login</a>
	</span>
	</form>

