<h3>Sign up!</h3>
<form method="POST" action="/auth/signup">
	<input type="text" name="username" class="form-control" placeholder="Enter your name" />
	<input type="email" name="email" class="form-control" placeholder="Enter your email address" />
	<input type="password" name="password" class="form-control" placeholder="Enter your password (Min 8 characters)" />
	<input type="password" name="password2" class="form-control" placeholder="Re-enter your password" />
	<input type="submit" value="Sign up!" class="btn btn-primary" />
</form>