<body id="frontpage">
<div class="jumbotron">
	<h1>Jumanji Farm
	</h1>
	<div>
	<p style="text-align: justify;">Jumanji Farm is a small mixed vegetable farm located 25 miles east of Seattle in Carnation, Washington. Emphasis is placed on growing the highest quality vegetables following organic and biologically intensive farming practices. Vegetables are grown using no synthetic or chemical fertilizers, herbicides or pesticides and with a strong emphasis on long-term soil health. Conveniently order your produce online and have them delivered to your home.</p>
	</div>

	<form action="/products" method="GET" role="form">
		<legend>Check out our products</legend>
		<a class="btn btn-primary btn-lg" href="/products">Enter Our Store</a>
	</form>
</div>
</body>
