<!DOCTYPE html>
<html>
<head>
	<title>Jumanji Farm Webstore</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/script.js"></script>

</head>
<body>
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<p class="navbar-brand">
				<a href="/">Home</a>
			</p>

		</div>
		<ul class="nav navbar-nav">
			<li><a href="#">Feast</a></li>
			<li><a href="/tags">All Tags</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right" style="padding-right:30px;">
			<% if (currentUser) { %>
				<li><a href="/auth/logout">Logout</a></li>
			<% } else { %>
				<li><a href="/auth/login">Login</a></li>
				<li><a href="/auth/signup">Signup</a></li>
			<% } %>
		</ul>
	</nav>
	<section class="container">
		<div class="row">
			<div class="col-md-8">
				<% include alerts %>
				<%- body %>
			</div>
		</div>
	</section>

</body>
</html>
