<h1>Boom. You've got veggies on the way.</h1>

<div class="well">
  <a href="#" class="thumbnail">
    <img src="<%= sale.image %>" />
  </a>
	<h2><%= sale.email %>
		<small>$<%= (sale.price/100) %>.00</small>
		<small><%= sale.createdAt %></small>
	</h2>
</div>