<h1><i class="fa fa-tags fa-lg"></i> All Tags</h1>

<p>Click a tag to filter products based on the tag</p>

<% tags.forEach(function(tag) { %>
  <div class="well">
    <h2><%= tag.tag %></h2>
  </div>
<% }); %>