body {
	font-family: 'Muli', sans-serif;
}

.form-control {
	width: 50%;
	margin-bottom: 6px;
}

#frontpage {

	background: url('images/background.jpg');
	background-size: cover;
	background-repeat: none;
}

.fa-home {
	margin-top: -20%;
}

.jumbotron {
	margin-top: 3%;
}

#product-name {
	font-size: 24px;
}

#log-in {
	background-color: transparent;
	border: 1px solid black;
}

#log-in:hover {
	border: 1px solid white;
	background-color: #D3D3D3;
}

.item-display {
	/*max-width: 600px;*/
	display: inline-block;
	margin: 1%;
	width: 30%;
	
}
