<h1>Featured Products</h1>
<% product.forEach(function(product) { %>
	
<div class="well">
	<h2><%= product.name %>
	<small><%= product.price %></small>
	</h2>

	<form action="/payments" method="POST" role="form">
			<input type="hidden" name="name" value="<%= product.name %>">
			<input type="hidden" name="price" value="<%= product.price %>">
	
		<button type="submit" class="btn btn-primary pull-right">Add to Cart</button>
	</form>
</div>

<% }); %>